@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    position: absolute;
    top: 5%;
    width: 300px;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/Textura.png);
    font-family: 'Fredoka', sans-serif;

}
.card-gameOver{
    background-color: rgba(0, 0, 0, 0.753);
    position: absolute;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 800px;
    height: 400px;
    z-index: -1;
}
.card-gameOver p{
    justify-content: center;
    width: 100%;
    align-items: center;
    display: flex;
    font-size: 30px;
    color: #ffffff;
    font-weight: 700;
}
.card-gameOver span{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 30px;
    color: #E96F05;
    font-weight: 700;

}
.start{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.start button{
    padding: 40px 200px;
    font-size: 40px;
    font-weight: 600;
    color: #f7f7f7;
    border-radius: 60px;
    background-color: #E96F05;
    border: none;
    font-family: 'Fredoka', sans-serif;
    transition: all 0.5s ease-in-out;
}
.start button:hover{
    font-size: 30px;
}

.game{
    display: none;
    border-radius: 20px;
    height: 400px;
    width: 800px;
    position: relative;
    overflow: hidden;
    background-image: url(./imgs/12.jpg);
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.home-icon-2{
    color: #E96F05;
    position: absolute;
    left: 0;
    margin-left: 5%;
    top: 10%;
    justify-content: start;
    
}

.score{
    position: absolute;
    top: 30px;
    left: 0;
    margin-left: 10px;
    font-size: x-large;
    color: #f7f7f7;
    font-weight: 500;
}
.cachorro{
    position: absolute;
    bottom: 0;
    background-image: url(./imgs/woof-running.gif);
    width: 230px;
    height: 190px;
    background-size: 230px;
    background-repeat: no-repeat; 
    
}
.hidrante{
    position: absolute;
    bottom: 0;
    background-image: url(./imgs/hidrante-removebg-preview.png);
    width: 80px;
    height: 90px;
    background-size: 80px;
    background-repeat: no-repeat;
    animation: hidrante 1.6s linear infinite;
}

@keyframes hidrante {
    0%{
        right: 20px;
    }
    100%{
        right: 850px;
    }
}

.pular{
    animation: pular 1s linear;
}

@keyframes pular{
    0%{
        bottom: 0;
    }
    30%{
        bottom: 120px;
    }
    50%{
        bottom: 220px;
    }
    80%{
        bottom: 120px;
    }
    100%{
        bottom: 0;
    }
}


