 body{
    background-image: url(./imgs/Fundo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}
 
.container-carrossel{
    width: 95%;
    position: absolute;
    border-radius: 10px;
    top: 25%;
    background-color: #ffffff;
    height: 470px;
    right: 0;
    box-shadow: -10px 15px 10px #00000080;
    
}
.carrossel {
    position: absolute;
    width: 80%;
    height: 500px;
    max-width: 300px;
    left: 15px;
    top: 20px;
    overflow: hidden;
    
}

.carrossel-imagem{
    display: flex;
    transition: all 1s ease;
    border-radius: 12px;

}

.carrossel img {
    width: 100%;
    flex-shrink: 0;
    border-radius: 12px;
}

.container-carrossel h1{
    margin: 0;
    left: 20%;
    font-size: 40px;
    margin-top: 2%;
    position: absolute;
}
.container-carrossel span{
    margin: 0;
    left: 20%;
    top: 20%;
    font-size: 30px;
    width: 1150px;
    position: absolute;
}



/* CARROSSEL DUQUE */

.container-carrossel-2 {
    width: 95%;
    position: absolute;
    border-radius: 10px;
    top: 100%;
    background-color: #ffffff;
    height: 470px;
    right: 0;
    box-shadow: -10px 15px 10px #00000080;
    
}
.carrossel-2 {
    position: absolute;
    width: 80%;
    height: 500px;
    max-width: 300px;
    left: 15px;
    top: 20px;
    overflow: hidden;
    
}

.carrossel-imagem-2 {
    display: flex;
    transition: all 1s ease;
    border-radius: 12px;

}

.carrossel-2 img{
    width: 100%;
    flex-shrink: 0;
    border-radius: 12px;
}

.container-carrossel-2 h1{
    margin: 0;
    left: 20%;
    font-size: 40px;
    margin-top: 2%;
    position: absolute;
}
.container-carrossel-2 span{
    margin: 0;
    left: 20%;
    top: 20%;
    font-size: 30px;
    width: 900px;
    position: absolute;
}


/* CARROSSEL BOB */


.container-carrossel-3 {
    width: 95%;
    position: absolute;
    border-radius: 10px;
    top: 175%;
    background-color: #ffffff;
    height: 470px;
    right: 0;
    box-shadow: -10px 15px 10px #00000080;
    
}
.carrossel-3 {
    position: absolute;
    width: 80%;
    height: 500px;
    max-width: 300px;
    left: 15px;
    top: 20px;
    overflow: hidden;
    
}

.carrossel-imagem-3 {
    display: flex;
    transition: all 1s ease;
    border-radius: 12px;

}

.carrossel-3 img{
    width: 100%;
    flex-shrink: 0;
    border-radius: 12px;
}

.container-carrossel-3 h1{
    margin: 0;
    left: 20%;
    font-size: 40px;
    margin-top: 2%;
    position: absolute;
}
.container-carrossel-3 span{
    margin: 0;
    left: 20%;
    top: 20%;
    font-size: 30px;
    width: 1150px;
    position: absolute;
}