@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
    margin: 0;
    top: 0;
    bottom: 0;
    font-family: 'Fredoka', sans-serif;
}

.banner {
    width: 100%;
    height: 900px;
    display: flex;
    position: relative;

}

.banner h1 {
    margin-top: 10%;
    font-size: 120px;
    width: 100%;
    color: #E96F05;
    margin-left: 50px;
    margin-bottom: 35px;

}

.texto-banner span {
    font-size: 40px;
    display: flex;
    width: 1000px;
    margin-left: 50px;
}

.cachorro-lado-d {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-55%);
}

.cachorro-lado-d img {
    width: 550px;
}


/* CARDS */
.cards {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
   
}

.card-1 {
    border: solid 5px #E96F05;
    border-radius: 45px;
    width: 450px;
    height: 200px;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 25px;
    transition: all 0.6s ease-in-out;
}

.card-1 span {
    color: #E96F05;
    font-weight: 600;
}

.card-1 img {
    margin-left: 60%;
    top: 80%;
    transform: translateY(-80%);
}

.card-2 {
    border: solid 5px #E96F05;
    border-radius: 45px;
    width: 450px;
    height: 200px;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 22px;
    transition: all 0.6s ease-in-out;
}

.card-2 span {
    color: #E96F05;
    font-weight: 600;
}

.card-2 img {
    margin-left: 60%;
    top: 90%;
    transform: translateY(-90%);
}

.card-3 {
    border: solid 5px #E96F05;
    border-radius: 45px;
    width: 450px;
    height: 200px;
    padding-left: 15px;
    padding-top: 15px;
    font-size: 22px;
    transition: all 0.6s ease-in-out;
}

.card-3 span {
    color: #E96F05;
    font-weight: 600;
}

.card-3 img {
    margin-left: 60%;
    top: 100%;
    transform: translateY(-100%);
}

/* Animação cards */

.card-1:hover {
    transform: translateY(-50px);
}
.card-2:hover {
    transform: translateY(-50px);
}
.card-3:hover {
    transform: translateY(-50px);
}

/* Missão */

.missao {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    position: relative; 

}

.cachorro-lado-e img {
    width: 650px; 
    

}

.texto-missao {
    display: flex;
    flex-direction: column;
    text-align: end;
    width: 100%; 
    margin-right: 50px;
}

.texto-missao h1 {
    font-size: 120px;
    color: #000000;
    margin-bottom: 35px;
}

.texto-missao span {
    font-size: 40px;
}


 .ODS{
    display: flex;
    width: 100%;
    justify-content: center;
    cursor: pointer;
    margin-top: 5%;
    margin-bottom: -10%;
  
}
.ODS img{
    transition: all 0.5s ease-in-out;
}

.ODS img:hover{
    transform: translateY(-20px);
    transition: all 0.5s ease-in-out;
}
.cachorro-olhando{
    display: flex;
    justify-content: center;
}
.cachorro-olhando img{
    width: 650px;
}